
<div id="activity-canvas" class="">
    <h2>
        <i class="fa fa-fw fa-tags"></i>

        Tags
    </h2>

    <ul>
        <li>
            asp.net mvc 6
            <span class="badge">
                57
            </span>
        </li>
        <li>
            asp.net mvc 6
            <span class="badge">
                57
            </span>
        </li>
        <li>
            asp.net mvc 6
            <span class="badge">
                57
            </span>
        </li>
        <li>
            asp.net mvc 6
            <span class="badge">
                57
            </span>
        </li>
        <li>
            asp.net mvc 6
            <span class="badge">
                57
            </span>
        </li>
    </ul>
</div>