<div ng-controller="RightbarController as vm">
    <header>
        <div class="profilepic">
            <img style="width: 160px;" alt="Profile Picture"
                 src="/assets/gravatar.png">
        </div>
    </header>
    <div class="col-xs-8 col-xs-offset-2">
        <p class="me">
            I'm a .NET developer living in Germany
        </p>
        <ul class="rightnav">
            <li>
                <a href="/blog/">
                    home
                </a>
            </li>
            <li>
                <a ng-click="">
                    projects
                </a>
            </li>
            <li>
                <a ng-click="vm.onTagsClicked();">
                    archive
                </a>
            </li>
            <li>
                <a ng-click="vm.onAboutClicked()">
                    about
                </a>
            </li>
        </ul>
    </div>
</div>